<dialog class="mdl-dialog" id="user_edit_dialog">
    <h4 class="mdl-dialog__title">Edit user</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="name" name="name" value="{{ name }}"/>
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="card" name="card" value="{{ card }}"/>
            <label class="mdl-textfield__label" for="card">Card</label>
        </div>
        <form id="options-form">
            <div><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="students" {{ studentsChecked }}>
                <span class="mdl-radio__label">Students</span>
            </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="teachers" {{ teachersChecked }}>
                    <span class="mdl-radio__label">Teachers</span>
                </label>
            </div>
        </form>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button  mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="updateUser({{ userId }});">Ok</button>
        <button type="button" class="mdl-button close mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="dialog1.close();">Cancel</button>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</dialog>