<dialog class="mdl-dialog" id="user_edit_dialog">
    <h4 class="mdl-dialog__title">Add admin</h4>
    <div class="mdl-dialog__content">
        <form id="text-form">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" required id="login" name="login" value=""/>
                <label class="mdl-textfield__label" for="login">Login</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" required id="name" name="name" value=""/>
                <label class="mdl-textfield__label" for="name">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="email" required name="email" value=""/>
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" required name="password" value=""/>
                <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <p id="error" class="error"><strong></strong>
        </form>
        <div>
            <p class="error"><strong> {{ error }}</strong>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button  mdl-button--colored mdl-js-button mdl-js-ripple-effect" autofocus
                onclick="{{ onClick }}">Ok
        </button>
        <button type="button" class="mdl-button close mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                onclick="dialog1.close();">Cancel
        </button>
    </div>
</dialog>