<dialog class="mdl-dialog" id="user_edit_dialog">
    <h4 class="mdl-dialog__title">Edit admin</h4>
    <div class="mdl-dialog__content">
        <form id="text-form">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" required id="login" name="login" value="{{ login }}"/>
                <label class="mdl-textfield__label" for="login">Login</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" required id="name" name="name" value="{{ name }}"/>
                <label class="mdl-textfield__label" for="name">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="email" required name="email" value="{{ email }}"/>
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
            <p id="error" class="error"><strong></strong>
        </form>
        {% if error %}
        <div>
            <p class="error"><strong> {{ error }}</strong>
        </div>
        {% endif %}
    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                onclick="updateUser({{ id }})">Ok
        </button>
        <button type="button" class="mdl-button close mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                onclick="dialog1.close();">Cancel
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="deleteUser({{ id }})">
            Delete
        </button>
    </div>
</dialog>