<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>
            <button class="table-button mdl-button mdl-js-button mdl-js-ripple-effect" onclick="changeSort('login');">Login</button>
        </th>
        <th>
            <button class="table-button mdl-button mdl-js-button mdl-js-ripple-effect" onclick="changeSort('name');">Name</button>
        </th>
        <th>
            <button class="table-button mdl-button mdl-js-button mdl-js-ripple-effect" onclick="changeSort('email');">Email</button>
        </th>
    </tr>
    </thead>