<dialog class="mdl-dialog" id="user_edit_dialog">
    <h4 class="mdl-dialog__title">Edit user</h4>
    <div class="mdl-dialog__content">
        <form id="text-form">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" required id="name" name="name" value="{{ name }}"/>
                <label class="mdl-textfield__label" for="name">Name</label>
            </div>
            <div style="overflow: hidden;">
                <div>
                    <div style="float: left; width: 200px">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="card" required name="card"
                                   pattern="[0-9A-Fa-f]{8}"
                                   value="{{ card }}"/>
                            <label class="mdl-textfield__label" for="card">Card</label>

                        </div>
                    </div>
                    <div>
                        <div style="margin-left: 10px; height: 15px"></div>
                        <button onclick="getSerialCard();" type="button" style="float: bottom" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">scanner</i>
                        </button>
                    </div>
                </div>
            </div>
            <p id="error" class="error"><strong></strong>
        </form>
        <form id="options-form">
            <div><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="options"
                       value="students" {{ studentsChecked }}>
                <span class="mdl-radio__label">Students</span>
            </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="options"
                           value="teachers" {{ teachersChecked }}>
                    <span class="mdl-radio__label">Teachers</span>
                </label>
            </div>
        </form>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button  mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                onclick="updateUser({{ userId }});">Ok
        </button>
        <button type="button" class="mdl-button close mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                onclick="dialog1.close();">Cancel
        </button>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</dialog>