<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>
            <button class="table-button mdl-button mdl-js-button mdl-js-ripple-effect" onclick="changeSort('name');">Name</button>
        </th>
        <th><button class="table-button mdl-button mdl-js-button mdl-js-ripple-effect" onclick="changeSort('card');">Card</button></th>
        <th><button class="table-button mdl-button mdl-js-button mdl-js-ripple-effect" onclick="changeSort('position');">Position</button></th>
        <th><button class="mdl-button mdl-js-button mdl-js-ripple-effect">Active</button></th>
    </tr>
    </thead>